@{
	ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
	<div class="container py-4">
		<div class="p-5 mb-4 bg-body-tertiary rounded-3">
			<div class="container">
				<h1 class="jumbotron-heading">Run Groops</h1>
				<p class="lead text-muted">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
				<p>
					<a class="btn btn-primary my-2" href="#">Main call to action</a>
					<a class="btn btn-secondary my-2" href="#">Secondary action</a>
				</p>
			</div>
		</div>
	</div>
</section>


